@charset "utf-8";

body { font-family: "Arial", sans-serif; text-align: justify; }

tt { font-family: "Monaco", monospace; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; text-transform: uppercase; display: inline; }

h1, h2, h3, h4, h5, h6, p, li, tr, td { text-rendering: optimizeLegibility; }

h1 { font-size: 160%; color: #1D3A83; }

h2 { font-size: 160%; color: #000000; }

h3 { font-size: 160%; color: #666666; }

h4 { font-size: 120%; color: #000000; }

h5 { font-size: 120%; color: #1D3A83; }

h6 { font-size: 120%; color: #666666; }

hr { height: 4px; color: #1D3A83; }

p, li, tr, td { font-size: 95%; }

a { text-decoration: none; }
a:link { color: #1D3A83; }
a:visited { color: #005bbb; }

ul { padding: 0; }

li { margin-top: .5em; }

table { padding-left: 0px; column-gap: 20px; }

td { padding-right: 20px; }
